.content input{
    font-size: 12px;
    width: 30%;
}
.content input:focus-visible {
    outline: none;
}
.content i:hover {
    cursor: pointer;
}
.content label{
    font-size: 12px;
}
.content ul{
    padding-left: 0;
    list-style-type: none;
}
.bi-plus-lg:hover{
    cursor: pointer;
}